/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE Nav manu style CUSTOMIZED ***************
*****************                                          ***************
**************************************************************************/

.home-title{
    float: left;
    margin-top: 5px;
    font-size: 35px;    
    font-family: 'Gugi', cursive;
    
}
h1 span{
    margin-left: 10px;
    color: aliceblue;
    font-size: 37px;
    font-family: 'VT323', monospace;    
    }
nav{
    float: right;
    margin-right:450px;    
}
nav ul {   
    list-style: none;    
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    font-family: 'ZCOOL KuaiLe', cursive;
    display: block;
}
nav a:hover{
    background-color: black;
}
/*************************************************************************
*****************                                          ***************
*****************HERE THE home top image style CUSTOMIZED  ***************
*****************                                          ***************
**************************************************************************/

img.home-image{
    width: 60%;         
    margin-left: 260px;
    margin-top: 100px;
}
.city{
    font-size: 45px;
    font-family: 'Monoton', cursive;
    color: aliceblue;
    position: absolute;
    
    margin-left: 450px;
    margin-top: 300px;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    letter-spacing: 0.02em;
    
}
/*************************************************************************
*****************                                          ***************
***************** HERE THE history section style CUSTOMIZED***************
*****************                                          ***************
**************************************************************************/
.history-start{
    margin-top: 150px;
}
#section2{
    margin-top: 50px;
}
h2{
    font-size: 40px;
    font-family: 'VT323', monospace;
    color: aliceblue;
}

.masque{
    width: 45%;
    border: outset;
    border-radius: 15px;  
    float: left; 
    margin-right: 20px;
    
}

.text-ouaga{
    width: 50%;    
    overflow: auto;   
    color:black;
    font-size: 21px;    
    background-color: rgba(255,255,255,0.6);
}
.text-ouaga p{
    font-family: 'Open Sans', sans-serif;
    text-align: start;
}
.read-more-state {
    display: none;
  }
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    background-color: rgba(247,178,178);
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
     
  }
/*************************************************************************
*****************                                          ***************
***************** HERE THE location section style CUSTOMIZED *************
*****************                                          ***************
**************************************************************************/
.location-start{
    margin-top: 150px;
    clear: both;
}
.section3{
    margin-top: 50px;
   
}
.carte{
    width: 90%;
    margin-left: 50px;     
}
/*************************************************************************
*****************                                          ***************
***************** HERE THE image section style CUSTOMIZED  ***************
*****************                                          ***************
**************************************************************************/
.image-title{
    margin-top: 5%;
    width: 100%;
}
#image_block{
    margin-top: 10%;
    width:100%;
}
.contenar{
    width:100%;
}
.contenar div{
    float: right;
    width:20%;
    border:groove;
    
    
}
.contenar div img{
    width:100%;
    height:150px;
}
.contenar2{
    width:100%;
    
}
.contenar2 div{
    float: right;
    width:20%;
    border: groove;
}
.contenar2 div img{
    width:100%;
    height:150px;
}
hr{
    display: none;
}

/*************************************************************************
*****************                                          ***************
***************** HERE THE Sights style CUSTOMIZED         ***************
*****************                                          ***************
**************************************************************************/
.sights-title{
    clear: both;
    margin-top: 10%;
    width: 100%;
    
}
#Sights{
    width:100%;
    margin-top: 10%;
    
}
.contenar3{
    width:100%;
    height: 400px;
    background-color: rgba(255,255,255,0.6);
}
.contenar3 div{
    float: right;
    width:30%;
    margin: 1%;
    margin-left: 2%;
}
.contenar3 div p{
    font-family:'Monoton', cursive;
    font-size: 100%;
}
.contenar3 div img{
    width:100%;
    height: 300px;
    
}


/*************************************************************************
*****************                                          ***************
***************** HERE THE footer style CUSTOMIZED         ***************
*****************                                          ***************
**************************************************************************/
footer{
    margin-top: 5%;
}

footer p{
    color: aliceblue;
}
footer p{
    margin-left: 40%;
}
