

nav {
    font-family: monaco;
    font-weight: bolder;
    width: 750px;
    margin: 0 auto;
    list-style: none;
}

nav li {
    float: left;
}

ul {
    list-style: none;
}

nav a {
    color: #480032;
    text-transform: capitalize;
    display: block;
    text-align: center;
    width: 150px;
    /* fixed width */
    text-decoration: none;
}