body {
    /* margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 0;
    margin-left: 150px; */
    margin: 20px 150px 0 150px;
}

div ul {
    font-family: 'Aref Ruqaa', serif;
    list-style: none;
    text-align: center;
    /* width: 100%; */
}

li {
    display: inline;
    padding: 25px;
}

a:link {
    text-decoration: none;
    color: black;
}

#top a:hover {
    background-color: rgb(231, 231, 179);
    color: rgb(154, 192, 190);
    border-radius: 3px;
  }

a:active {
    background-color: chocolate;
    color: rgb(104, 133, 23);
}

a:visited {
    color: black;
}

.back {
    float: right;
    font-style: italic; 
}

.berlinbild {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#berlin {
    position: absolute;
    color: #dee4eb;
    font-size: 40px;
    letter-spacing: 1em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

/* history */

/* .history {
    width: 100%;
}
 */
 .history2 {
     position: relative;
 }
.h1history {
    font-weight: normal;
    padding-top: 70px;
    /* width: 100%; */
}

.history2 {
    position: relative;
}
.mauer {
    width: 400px;
    height: 300px;
    float: left;
    border-radius: 5px;
    /* box-shadow: 1px 1px 1px 1px; */
    /* margin-right: 30px; */
}

.phistory {
    font-size: 20px;
    margin-left: 440px;
    
}

.morehistory {
    border: 2px solid grey;
    margin-left: 440px;
    margin-top: 50px;
    padding: 10px;
    width: 80px;
    /* height: 20px; */
    text-align: center;
}

/* location */

.h2location {
    font-weight: normal;
    padding-top: 70px;
}

/* .location {
    width: 100%;
} */
/* images */

.h3images {
    font-weight: normal;
    padding-top: 70px;
}

.imagesrow {
    width: 100%;
    height: 200px;
}
.column1 {
    width: 23%;
    padding: 5px;
    float: left;
    display: inline;
    /* box-shadow: 5px 5px 2px #aaa; */
    }

.column1 img {
    width: 100%;
    border-radius: 8px;
    height:170px;
    margin: 5px;
    /* padding: 5px; */
    /* object-fit: cover; */
    /* float: left; */
    /* position: relative; */
}
/* .row1::after {
    margin-bottom: 60px;
} */

/* sights */

.h4sights {
    font-weight: normal;
    padding-top: 70px;
    margin-top: 50px;
}

.sightrow {
    /* margin-left: -5px;
    margin-top: 60px; */
    width: 100%
}

.column2 {
    width: 23%;
    padding: 5px;
    float: left;
    display: inline;
}
.column2 img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    padding: 5px;
    float: left;
    display: inline;
}

.moresights {
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 5px;
    padding: 10px;
    width: 80px;
    text-align: center;
    clear: both;
    float: left;
}

/* footer */
.unten footer {
    background-color: rgb(18, 78, 105, 0.7);
    padding-bottom: 7px;
    padding-top: 2px;   
}

footer {
    clear: both; 
}

footer p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

footer img {
    margin-left: 40px;
}


/* media query */

