body {
    margin: 20px 150px 0 150px;
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    padding: 25px;
}

a:link {
    text-decoration: none;
    color: black;
}

#top a:hover {
    background-color: rgb(231, 231, 179);
    color: rgb(154, 192, 190);
    border-radius: 3px;
  }

a:active {
    background-color: chocolate;
    color: rgb(104, 133, 23);
}

a:visited {
    color: black;
}

.back {
    float: right;
    font-style: italic; 
}

/* image Berlin */

.box1 img {
    position: relative;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box1 h1 {
    position: absolute;
    color: #dee4eb;
    font-size: 20px;
    letter-spacing: 2em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

/* history */

.sectionhistory {
    width: 100%;
    display: inline-block;
    height: 350px;
    padding: 0;
    margin: 0;
}
 .history {
     /* position: relative; */
     width: 35%;
     display: inline-block;
     margin: 0;
     padding: 0;
 }

h2 {
    font-weight: normal;
    padding-top: 70px;
}

.mauer {
    width: 100%;
    height: 100%;
  /*   float: left; */
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px;
}

.phistory {
    font-size: 18px;
    padding: 5px 20px;
    width: 47%;
    height: 350px;
    position: absolute;
    display: inline-block;
}

.morehistory {
    border: 2px solid grey;
    margin-left: 0;
    padding: 10px; */
    width: 80px;
    float: left;
    text-align: center;
}

/* location */


/* images */

.imagesrow {
    width: 100%;
    height: 180px;
}
.column1 {
    width: 25%;
    padding: 0 15px 0 5px;
    box-sizing: border-box;
    /* padding-right: 15px; */
    float: left;
    display: inline;
    }

.column1 img {
    width: 100%;
    border-radius: 8px;
    height:150px;
    /* padding: 5px; */
}

/* sights */

.sightrow {
    /* margin-left: -5px;
    margin-top: 60px; */
    width: 100%;
    display: inline-block;
}

.column2 {
    width: 23%;
    /* padding: 5px; */
    margin: 0;
    float: left;
    display: inline;
    padding-right: 20px;
}
.column2 img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    padding: 5px;
    float: left;
    display: inline;
}
span {
    margin: 5px;
}
.moresights {
    border: 2px solid grey;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 70px;
    margin-left: 5px;
    padding: 10px;
    width: 80px;
    text-align: center;
    clear: both;
    float: left;
}

/* footer */
.unten footer {
    background-color: rgb(18, 78, 105, 0.7);
    padding-bottom: 7px;
    padding-top: 2px;   
}

footer {
    clear: both; 
}

footer p {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

footer img {
    margin-left: 40px;
}


/* media query */

/* small phone: from 0 to 480px */
/* @media only screen and (max-width: 480px) {
    body {
        background: blue;
    }
    .a {
        display: block;
    }
}
#berlin {
    position: absolute;
    color: #dee4eb;
    font-size: 15px;
    letter-spacing: 0.5em;
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
 */
/* small tablets or small phone */
/* @media only screen and (min-width:481px) and (max-width:768px) {

    body {
        background: yellow;
    }
    .b {
        display: block;
    }
    #berlin {
        position: absolute;
        color: #dee4eb;
        font-size: 25px;
        letter-spacing: 0.5em;
        font-weight: bold;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
} */

/* large tablet or small laptop */
/* @media only screen and (min-width:769px) and (max-width:1024px) {

    body {
        background: green;
    }
    .c {
        display: block;
    }

    #berlin {
        position: absolute;
        color: #dee4eb;
        font-size: 30px;
        letter-spacing: 1em;
        font-weight: bold;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
} */


/* small or large laptop */

/* @media only screen and (min-width:1025px) {

    body {
        background: red;
    }
    .d {
        display: block;
    }
    #berlin {
        position: absolute;
        color: #dee4eb;
        font-size: 40px;
        letter-spacing: 1em;
        font-weight: bold;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }
} */
