body {
    margin: 20px 150px 0 150px;
    font-family: 'Raleway', sans-serif;
}

ul {
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
    /* text-align: center; */
    padding-left: 0;
}
