*, body, html{
    margin: 0;
    padding: 0;

}

body{
background-color: white;
}
.maim-body {
    margin: 5px auto;
    width: 90%;
}

ul {
    text-align: center;
}
li {
    text-decoration: none;
    display: inline-block;
    padding: 15px 50px;

}
.item {
    text-decoration: none;
    color: black;
}

.main-img {
    width: 100%;
    padding-top: 15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    display: block;
    margin: auto;
    
  }
  h1 {
      text-align: center;
      padding-bottom: 10px;
      font-family: Gugi;
  }

  .content{
      padding-top: 60px;
      overflow: auto;
  }
 .his-img{
     float: left;
    margin-right: 10px;
    border-radius: 5%;
  }
 /* show more starting */
  .read-more-state {
    display: none;
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: 'Show more';
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'Show less';
  }
  
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: .9em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;
  }
  /* show more ending */

  /* map */
  .maps{
    width: 100%;
    margin: auto;
  }
  .images{
    width: 39%;
    height: 300px;
    border-radius: 5%;
    float: none;
    margin: 5%;


    
  }
.cont-img{
margin-left: 2%;
}
