/* HTML,BODY  */
html,
body {
    scroll-behavior: smooth;
    font-family: "Raleway";
    margin: 0;
    padding: 0;
}
/* CONTAINER */
.container {
    width: 80%;
    text-align: center;
    left: 10%;
    display: block;
    position: relative;
}
/* NAVIGATION BAR */
nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 25px 0;
}

li {
    display: inline-block;
    margin: 0 50px;
}

a {
    font-family: "PT Serif";
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

a:hover {
    animation: hov 2s ease-in;
    animation-iteration-count: infinite;
}

.ico {
    height: 15px;
    margin-right: 5px;
}


/* FIRST SECTION */
.head {
    display: inline-block;
    width: 90%;
    margin; 5%;
    height: 550px;
    background-image: url(/assets/img/chis1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.part1 {
    display: block;
    height: 600px;
    width: 100%;
}

.frame {
    position: relative;
    width: 100%;
    height: 620px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

h1 {
    font-family: "PT Serif";
    font-weight: 400;
    font-size: 12rem;
    color: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 170px 0;
    text-shadow: 3px 3px 3px;
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;

}
/* HISTOTY SECTION */
.part2 {
    margin: 50px 0;
    width: 100%

}

.frame2 {
    width: 100%;
    min-height: 400px;
    padding: 0;
    margin: 0;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

h2 {
    text-align: left;
    margin-left: 30px;
}

.his_img {
    background-image: url(/assets/img/hist_img.jpg);
    background-repeat: no-repeat;
    height: 300px;
    display: inline-block;
    width: 38%;
    float: left;
    margin-left: 30px;
    border-radius: 10px 10px 10px 10px;
}

.descrip {
    display: block;
    float: right;
    width: 53%;
}

p {
    text-align: justify;
    margin: 5px 20px;
}

.btn {
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    height: 30px;
}
/* LOCATION SECTION */
.loc {
    width: 94%;
    display: block;
    margin-left: 30px;
    height: 300px;
}
/* IMAGES SECTION */
.images {
    width: 94%;
    display: block;
    margin-left: 30px;
    height: 500px;
}

.pic_frame {
    width: 18%;
    margin: 6px;
    padding: 0;
    height: 130px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px 10px 10px 10px;
}

.pic {
    width: 90%;
    height: 90%;
    margin: 6px;
    border-radius: 10px 10px 10px 10px;
}

.pic_frame:hover {
    width: 18%;
    margin: 5px;
    padding: 0;
    height: 130px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transform: rotateY(180deg);
    transition-duration: 2s;
}
/* SIGHTS SECTION */
.pic_frame2 {
    width: 30%;
    margin: 5px;
    padding: 0;
    height: 250px;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px 10px 10px 10px;
}

.pic2 {
    width: 90%;
    height: 90%;
    margin: 12px;
    border-radius: 10px 10px 10px 10px;
}

.sights {
    width: 94%;
    display: block;
    margin-left: 30px;
    height: 500px;
}

.frame3 {
    width: 100%;
    height: 80px;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* FOOTER */
.footer {
    text-align: center;
    margin: 20px;
}
/* ANIMATIONS */
@keyframes slidein {
    0% {
        color: rgba(255, 255, 255, 0.1);
    }

    50% {
        color: rgba(255, 255, 255, 0.9);
    }

    100% {
        color: rgba(255, 255, 255, 0.1);
    }
}

@keyframes hov {
    0% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }

    25% {
        -webkit-transform: scale(1.35);
        opacity: 0.1;
    }

    50% {
        -webkit-transform: scale(1.7);
        opacity: 0.3;
    }

    75% {
        -webkit-transform: scale(2.05);
        opacity: 0.5;
    }

    100% {
        -webkit-transform: scale(2.4);
        opacity: 0.0;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 6rem;

    }
    nav ul li {
    margin: 30px 5px;
    display: block;

    }
    nav ul {
        left: 10%;
        margin: 0;
        padding: 0;
        position: fixed;
        z-index: 1000;
    }
    h2 {
        text-align: center;
        margin: 20px 0;
        padding: 0;
    }
    .his_img {
        
        height: 400px;
        background-size: cover;
        width: 90%;
        margin: 0 5%;
  }
    .descrip {
        width: 90%;
        margin: 5%;
    }
    p {
        margin: 0;
    }
    .loc {
        width: 90%;
        margin: 5%;

    }
    .images {
        width: 100%;
        margin: 0;
        padding: 5% 0;
        height: 100%;

    }
    .pic_frame {
        width: 45%;
        margin: 0;
        padding: 0;
    }
    .pic_frame2 {
        width: 90%;
        margin: 5%;
        padding: 0;
    }
    .sights {
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
    }
    a p {
        text-align: center;
    }
    span {
        display: none;
    }
    .frame {
        width: 100%;
        margin: 0;
        padding: 0;
        min-height: 600px;


    }
    
    .head {
        width: 90%;
        margin: 5%;
        padding: 0;
    }
}

@media screen and (max-width: 550px)  {

    h1 {
        font-size: 4rem;
    }
.head {
    margin: 7%;
    width: 86%;
    padding: 0;
}
nav ul li {
    margin: 100px 5px;
}
.his_img {
    width: 86%;
    margin:7%;
}
.descrip {
    width: 86%;
    margin:7%;

}
.loc {
    width: 86%;
    margin:7%;
}
.images {
    width: 86%;
    margin:7%;
    padding: 0;
}
.pic_frame2 {
    width: 86%;
    margin:7%;
    padding: 0;
}
}