/*************************************************************************
*****************                                          ***************
*****************    Welcome here is the Html size         ***************
*****************                                          ***************
**************************************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE BODY  CUSTOMIZED          ***************
*****************                                          ***************
**************************************************************************/
body{
    width: 100%;    
    background-image: url(img/photo6.jpeg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
}

/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE header  CUSTOMIZED        ***************
*****************                                          ***************
**************************************************************************/
header{

    width: 100%;
    height:50px ; 
    background-color: rgba(247,178,178);
    position:fixed;
    opacity: 1;
}


/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE Main  CUSTOMIZED          ***************
*****************                                          ***************
**************************************************************************/
main{
    width: 100%;
}


/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE footer  CUSTOMIZED        ***************
*****************                                          ***************
**************************************************************************/
footer{
    background-color: black;
    width: 100%;
    height: 50px;;
}