/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE Nav manu style CUSTOMIZED ***************
*****************                                          ***************
**************************************************************************/
.home-title{
    float: left;
    font-size: 35px;
    
    font-family: 'Gugi', cursive;
}
h1 span{
    color: aliceblue;
    font-family: 'VT323', monospace;
}
nav{
    float: right;
    margin-right: 450px;
   
    
}
nav ul {
   
    list-style: none;
    
}
nav ul li{
    display: inline-block;
    margin: 20px;
}
nav a{
    text-decoration: none;
    color: aliceblue;
    font-size: 22px;
    font-family: 'ZCOOL KuaiLe', cursive;

}