/*************************************************************************
*****************                                          ***************
*****************    HERE IS THE Nav manu style CUSTOMIZED ***************
*****************                                          ***************
**************************************************************************/
.home-title{
    float: left;
    font-size: 20px;
}
nav{
    float: right;
}
nav ul {
    padding: 50px;
    list-style: none;
    
}
nav ul li{
    display: inline-block;
    margin: 20px;
}