html {
    background: url(../assets/img/plomo_old.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    width: 100%;
    margin: 0;
    padding: 2%;
    background-color: #aaa;
    background: url(../assets/img/plomo_old.jpg) no-repeat center center fixed;
    background-size: cover;
}
body img {
    z-index: -1;
    ;

}
#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

#nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    background-color: #333;
}

#nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 24%;
    text-align: center;
    background-color: #333;
    color: white;
}
#nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding-block-end: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    color: black;
}

h2 {
    background-color: rgba(204, 204, 204, 0.6);
    height: 30px;
    margin-bottom: 40px;
}
p {
    background-color: rgba(204, 204, 204, 0.6);
}
iframe {
    width: 90%;
    height:300px;
    margin-left:4%; 
}
#history {
    padding-top: 40px;
}
#location {
    padding-top: 40px;
}
#activities {
    padding-top: 40px;
}


#nav ul li :hover {
    background-color: #aaa
}
#backplomo {
    position: fixed;
    top: 0;
    z-index: -2;   
}
.views_plomo {
 display: inline-block;
 width: 24%;
 height: 150px;
 overflow: hidden;
}
.views_plomo img {
    object-fit: fill;
    object-position: center;
}
#activities {
    width: 100%;
    background-color: rgba(204, 204, 204, 0.6);
}

.activity {
    display: inline-block;
    width: 24%;
    height: 100px;
    vertical-align: bottom;
    text-align: center;
}
.activity:hover {
    transform: scale(1.2);
    background-color: rgba(156, 156, 156, 0.6);
}