html {
    background: url(../assets/img/plomo_old.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    width: 98%;
    margin: 1% 1% 0 1%;
    padding: 0;
    background-color: #aaa;
    background: url(../assets/img/plomo_old.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

#nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    background-color: #333;
}

#nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 24%;
    text-align: center;
    background-color: #333;
    color: white;
}
#nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    width: 100%;
    padding-block-end: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    color: black;
}
h1 {
    padding-top: 20px;
    background-color: rgba(204, 204, 204, 0.8);
}
h2 {
    background-color: rgb(204, 204, 204, 0.8);
    border-radius: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
div p {
    background-color: rgba(204, 204, 204, 0.8);
    border-radius: 5px;
}
iframe {
    width: 90%;
    height:300px;
    padding-left: 4%; 
}
/*the buffer div is there to "clear" the float left*/
#buffer {
    clear: left;
}
footer {
    position: relative;
    width: 105%;
    background-color: #333;
    transform: translateX(-1%);
    margin-top: 20px;
}
#para1 {
    background-color: #333;
    color: white;
    width: 69%;
    display: inline-block;
    text-align: center;
}
#para2 {
    background-color: #333;
    color: white;
    width: 29%;
    display: inline-block;
    text-align: center;
}    
#para2 a {
    color: white;
}

#history {
    padding-top: 40px;
}
#location {
    padding-top: 40px;
}
#activities {
    padding-top: 40px;
    clear: left; /*to clear the float left of the images above*/
}
#photos {
    padding-top: 40px;
    width: 100%;
}


#nav ul li :hover {
    background-color: #aaa
}
#backplomo {
    position: fixed;
    top: 0;
    z-index: -2;   
}
.views_plomo {
    display: inline-block;
    width: 25%;
    overflow: hidden;
    float: left;
}
.views_plomo:hover {
    transform: scale(1.1);
    transition-duration: 0.6s;
}
.views_plomo img {
    display: block;
    width: 98%;
    object-fit: contain;
}

.activity {
    display: inline-block;
    width: 25%;
    float: left;
    height: 50px;
    vertical-align: bottom;
    text-align: center;
    padding: 30px 0;
    font-size: 15px;
    font-weight: 700;
    background-color: rgba(204, 204, 204, 0.6);
}
.activity:hover {
    transform: scale(1.1);
    background-color: rgba(156, 156, 156, 0.6);
    transition-duration: 0.6s;
}

.img_alone {
    max-width: 800px;
    width:95%; 
}
.img_alone img {
    max-width: 800px;
    width:100%;
    object-fit: fill;
}
/* this part is about the photos appearing and disappearing 
in the view section */


.cache {
    width: 0;
    overflow: hidden;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(204, 204, 204, 0.5);    
    padding-top: 100px;
    transition: 0.6s;
}
.cache img {
    max-width: 800px;
    max-height: 85%;
    width:90%;
    object-fit: fill;
}

#cache_parapente:target {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 80px;
}
#cache_lestrevet:target {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 80px;
}
#cache_chapel:target {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 80px;
}
#cache_festival:target {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 80px;
}

/*this part is about responsivity*/

@media screen and (max-width: 800px) {
    .views_plomo {
        width: 33%;
        min-height: 170px;
    }
    .activity {
        width: 33%;
    }
  }

@media screen and (max-width: 450px) {
    .views_plomo {
        width: 50%;
        min-height: 170px;
    }
    .activity {
        width: 50%;
    }
  }

  