a:hover { 
    background-color: aqua;
  }
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  /* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;

  }
  h1 {
      
    font-family: 'Shadows Into Light', cursive;
  }
  p {
    font-family: 'Rokkitt', serif;
  }